# Dependencies
node_modules/

# Build
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Enviroment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System archives
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Cache
.cache/
.eslintcache

# Test covers
coverage/

# Next.js
.next/
out/

# Vercel
.vercel/